.max-container{
    min-height: 100dvh;
    min-width: 95dvw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main{
    min-width: 90dvw;
    min-height: 44rem; 
}

.my-swal-popup {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}